- align ||= 'left'

%table
  %tr
    %td{align: align, style: 'padding-top: 15px;'}
      %a{href: url, target: '_blank', class: 'btn-email', style: 'background-color: #6deef6; color: #ffffff; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; font-size:16px; line-height: 25px; padding: 10px 16px; text-decoration: none;'}
        = text
