%h4 Payment detail
%p
  <b>Service:</b> #{link_to @service.title, service_url(@service)}
  %br
  <b>Price per hour:</b> #{number_to_currency(@service.booking_price)}
  %br
  <b>Hours:</b> #{@payable.hours}
  %br
  <b>total:</b> #{number_to_currency(@payment.total)}
  %br