%h4 Payment detail
%p
  Service: #{link_to @service.title, service_url(@service)}
  %br
  Price per hour: #{number_to_currency(@service.booking_price)}
  %br
  Hours: #{@payable.hours}
  %br
  Total: #{number_to_currency(@payment.total)}
