%p Hurry up,

%p You have a service to perform in an hour.
= render 'booking'

%p
  %strong Important Information

%p
  When arrive, please send verification code received from the customer to this number #{Figaro.env.twillio_admin_number}. This helps us ensure you are performing a good service.

%br
= render 'button', url: performer_booking_url(@booking), text: 'View'

%br
%p Love,