%p Congratulations #{@performer.first_name},

%p Your booking was successfully verified. The details are below:

= render 'booking', role: :performer

%p You will receive payment in 36 hours

%br
%p Love,