%h3 Congrats,

%p You have a new booking.
= render 'booking'

%br
%table
  %tr
    %td= render 'button', url: accept_performer_booking_url(@booking), text: 'Accept'
    %td= render 'button', url: decline_performer_booking_url(@booking), text: 'Decline', style: 'warning'
