%h3 Congrats,

%p payment completed successfully.
= render 'payment'

%p
  <b>Fee(#{Setting.commission_from_seller}%):</b> #{number_to_currency(@payment.fee)}
  %br
  <b>Amount to you:</b> #{number_to_currency(@payment.amount)}
  %br
