%p Thank you for creating an account. It is currently being reviewed. We will contact you if more information is required.

%p All services must have high quality images, honest information and no grammatical errors. GIF's and videos work really well. No nudity please.

%p We are going live soon so make sure your profile and services look amazing!

%p Love,

%p The Siloette Team xoxo