%p Dear #{@user.first_name},

%p Thank you for applying to be a Siloette. You application is currently being reviewed and we hope to have you verified as soon as possible.
%p All Siloettes must be over 21, have professional photos and if you want to work as a waitress have completed alcohol awareness training. 

%p Love,
