%meta{charset: 'utf-8' }
%meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
%meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
%meta{name: 'robots', content: 'noodp, nodir, noydir'}
%meta{name: 'googlebot', content: 'noodp'}
%meta{name: 'keywords', content: 'service booking dancer exotic'}
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0, user-scalable=no'}
%meta{name: 'distribution', content: 'global'}
%meta{name: 'coverage', content: 'worldwide'}
%meta{name: 'copyright', content: "© Siloette #{Date.today.year}"}
%meta{name: 'generator', content: 'Developed by Siloette'}
%meta{property: 'og:site_name', content: 'Sioette'}
%meta{property: 'og:type', content: 'website'}
%meta{property: 'og:local', content: 'en_US'}

- if content_for?(:meta_tags)
  = yield(:meta_tags)