- @title = 'Become a Siloette'
- @description = 'We want professional exotic models, dancers and hosts to join this exciting platform'
- @url = work_with_us_url
- @image = { url: asset_path('girls.jpg'), width: 1920, height: 764 }

- content_for :meta_tags do
  %meta{name: 'robots', content: 'index, follow'}
  %meta{name: 'googlebot', content: 'index, follow'}

%section.jumbotron
  .overlay.bg-half-grey
  .container
    .col-sm-6
      .main-title.bg-grey.text-center
        = t('.become_siloette')