- @title = 'Become a Siloette'
- @description = 'We want professional exotic models, dancers and hosts to join this exciting platform'
- @url = work_with_us_url
- @image = { url: asset_path('girls.jpg'), width: 1920, height: 764 }

- content_for :meta_tags do
  %meta{name: 'robots', content: 'index, follow'}
  %meta{name: 'googlebot', content: 'index, follow'}

%section.jumbotron
  .overlay.bg-half-grey
  .container
    .col-sm-12
      %h1 Work on your own terms. Set your own prices. Work at the best clubs and parties in the world.
      %p.signup-note Sign up now. It's free.
      
      .col-sm-3    
        - if current_user
          - unless current_user.dancer?
            = link_to t('links.become_siloette'), become_dancer_user_path(current_user), class: 'btn btn-block btn-primary text-uppercase'
        - else
          =# link_to fa_icon('instagram', text: t('common.instagram')), omniauth_authorize_path(:user, :instagram, state: :dancer), class: 'btn btn-block btn-instagram text-uppercase'
          =# link_to fa_icon('facebook', text: t('common.facebook')), omniauth_authorize_path(:user, :facebook, state: :dancer), class: 'btn btn-block btn-facebook text-uppercase'
          = link_to new_user_registration_path(bd: true), class: 'btn btn-lg btn-block btn-primary text-uppercase'
          =# link_to fa_icon('google', text: t('common.google')), omniauth_authorize_path(:user, :google_oauth2, state: :dancer), class: 'btn btn-block btn-google text-uppercase'
          =# link_to fa_icon('twitter', text: t('common.twitter')), omniauth_authorize_path(:user, :twitter, state: :dancer), class: 'btn btn-block btn-twitter text-uppercase'