- @title = 'Become a Siloette'
- @description = 'We want professional exotic models, dancers and hosts to join this exciting platform'
- @url = work_with_us_url
- @image = { url: asset_path('girls.jpg'), width: 1920, height: 764 }

- content_for :meta_tags do
  %meta{name: 'robots', content: 'index, follow'}
  %meta{name: 'googlebot', content: 'index, follow'}

%section.jumbotron
  .overlay.bg-half-grey
  .container
    .col-sm-12
      %p Siloette is an online platform to book high-class adult entertainment.
      %h1 Work on your own terms. Set your own prices. Work at the best clubs and parties in the world.
      %h1 Launching July 1, 2017.
      %p.signup-note Sign up now. It's free.
      = link_to t('links.signup_siloette'), become_dancer_user_path(current_user), class: 'btn btn-block btn-primary text-uppercase'