default_admin_passowrd: password
host: siloette.com

smtp_email_address: smtp_email_address
smtp_email_port: '587'
smtp_email_user_name: smtp_email_user_name
smtp_email_password: smtp_email_password
smtp_email_domain: smtp_email_domain

aws_bucket: aws_bucket
aws_access_key_id: aws_access_key_id
aws_secret_access_key: aws_secret_access_key
