http_user: http_user
http_password: http_password

default_admin_email: admin@siloette.co
default_admin_passowrd: password
host: siloette.com

googlemap_api_key: googlemap_api_key

smtp_email_address: smtp_email_address
smtp_email_port: '587'
smtp_email_user_name: smtp_email_user_name
smtp_email_password: smtp_email_password
smtp_email_domain: smtp_email_domain

twilio_account_sid: twilio_account_sid
twilio_auth_token: twilio_auth_token
twillio_admin_number: '15005550006'

stripe_id: stripe_id
stripe_secret: stripe_secret
stripe_publishable_key: stripe_publishable_key
facebook_id: facebook_id
facebook_secret: facebook_secret
twitter_id: twitter_id
twitter_secret: twitter_secret
google_oauth2_id: google_oauth2_id
google_oauth2_secret: google_oauth2_secret
instagram_id: instagram_id
instagram_secret: instagram_secret

aws_bucket: aws_bucket
aws_access_key_id: aws_access_key_id
aws_secret_access_key: aws_secret_access_key
