- content_for :sidebar do
  = render 'shared/sidebar'
  - if @service && @service.primary_image
    = image_tag @service.primary_image.file.url(:medium), alt: @service.title, class: 'img-responsive'

.panel.panel-default
  .panel-heading
    = t('.new_booking')
  .panel-body
    = render 'form'
