- content_for :sidebar do
  = render 'shared/sidebar'
  = render 'shared/service_image', service: @service

.panel.panel-default
  .panel-heading
    = t('.new_booking')
  .panel-body
    = render 'form'
