h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $montserrat;
}

a:focus {
  outline: none;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-control {
  box-shadow: none;
}

.panel-body {
  background-color: white;
}

.panel-default .panel-heading {
  background-color: white;
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-center-m {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.text-white {
  color: white;
}

.text-upper {
  text-transform: uppercase;
}

.btn-facebook {
  @include button-variant($btn-primary-color, $btn-facebook-bg, $btn-default-border);
  text-transform: uppercase;
}

.logo {
  text-transform: uppercase;
}

.round {
  border-radius: 50%;
}

.btn-bordered {
  margin: $grid-gutter-width/2 auto;
  padding-left: 2.5em;
  padding-right: 2.5em;
  position: relative;

  &:before, &:after {
    content: " ";
    position: absolute;
    width: 180px;
    height: 1px;
    background: $border-color;
    top: 50%;
  }

  &:before {
    left: -webkit-calc(-180px - 1.5em);
    left: calc(-180px - 1.5em);
  }

  &:after {
    left: -webkit-calc(100% + 1.5em);
    left: calc(100% + 1.5em);
  }
}
