h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $montserrat;
}

*:focus {
  outline: none;
}

.container {
  max-width: 970px;

  .home-index & {
    max-width: 1020px;
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.table .form-group {
  margin-bottom: 0;
}

.form-control {
  box-shadow: none;
}

form .table > tbody > tr > td {
  vertical-align: middle;
}

.panel {
  margin-bottom: $grid-gutter-width / 2;
}

.panel-body {
  background-color: white;
}

.panel-default .panel-heading {
  background-color: white;
}

.calendar-datepicker .ui-datepicker {
  width: 100%;
}

.select2-container {
  display: block;
  width: 100% !important;

  .select2-selection--multiple {
    min-height: 37px;
  }

  .select2-search--inline .select2-search__field {
    margin-left: 5px;
    margin-top: 7px;
  }
}

.select2-container--default, .select2-container--default.select2-container--focus {
  .select2-selection--multiple {
    border-color: $border-color;
  }
}

.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  @include background-size(cover);
}

.bg-half-grey {
  background-color: rgba(32, 32, 32, .6);
}

.text-center-m {
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.text-light {
  font-family: $montserrat-ultra-light;
}

.text-white {
  color: white;
}

.text-light-grey {
  color: $text-light-grey;
}

.btn-facebook {
  @include button-variant($btn-primary-color, $btn-facebook-bg, $btn-default-border);
}

.btn-instagram {
  @include button-variant($btn-primary-color, $btn-instagram-bg, $btn-default-border);
}

.btn-google {
  @include button-variant($btn-primary-color, $btn-google-bg, $btn-default-border);
}

.btn-twitter {
  @include button-variant($btn-primary-color, $btn-twitter-bg, $btn-default-border);
}

.btn-pink {
  @include button-variant($btn-primary-color, $pink-color, transparent);
}

hr.solid {
  border-color: $text-color;
}

.logo {
  text-transform: uppercase;
}

.round {
  @include border-radius(50%);
}

.no-top {
  @media (min-width: $screen-sm-min) {
    margin-top: 0;
  }
}

.text-left-sm {
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
}

.text-right-sm {
  @media (min-width: $screen-sm-min) {
    text-align: right;
  }
}

.hidden-virtural {
  border: none !important;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.tab-pane {
  padding-bottom: $grid-gutter-width;
  padding-top: $grid-gutter-width;
}

.overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner {
  @extend .bg-cover;
  position: relative;
}

.embed-container {
  height: 0;
  margin-bottom: $grid-gutter-width / 2;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
  width: 100%;

  iframe, object, embed {
    @include border-radius($border-radius-base);
    border: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.inline-checkboxes {
  position: relative;

  > span {
    margin-right: $grid-gutter-width;
  }

  .parsley-errors-list {
    left: 190px;
    position: absolute;
    top: 0;
    width: 200px;
  }
}

.btn-bordered {
  margin: $grid-gutter-width/2 auto;
  padding-left: 2.5em;
  padding-right: 2.5em;
  position: relative;

  &:before, &:after {
    content: " ";
    position: absolute;
    width: 180px;
    height: 1px;
    background: $border-color;
    top: 50%;
  }

  &:before {
    left: -webkit-calc(-180px - 1.5em);
    left: calc(-180px - 1.5em);
  }

  &:after {
    left: -webkit-calc(100% + 1.5em);
    left: calc(100% + 1.5em);
  }
}

.triangle-isosceles {
  position: relative;
  padding: 9px;
  margin: 0 0 2em;
  background: $brand-primary;

  &:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: -webkit-calc(50% - 10px);
    left: calc(50% - 10px);
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: $brand-primary transparent;
    display: block;
    width: 0;
  }
}