#main-nav {
  .nav .open {
    > a, > a:hover, > a:focus {
      background-color: transparent;
    }
  }

  .navbar-nav .open {
    .dropdown-menu {
      > li > a, .dropdown-header {
        padding: 8px 15px 8px 25px;
      }
    }
  }
}

.navbar-nav > li > a {
  line-height: 32px;
}

.navbar-nav > li.new-service > a {
  border: 3px solid #8E44AD;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  border-radius: 300px;
  margin-top: 7px;
  /* margin-bottom: 10px; */
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-brand {
  height: auto;
  text-transform: uppercase;
}

.header-logo {
  @extend .bg-cover;
  display: block;
  height: 34px;
  min-width: 20px;

  @media (max-width: $screen-xs-max) {
    background-image: image-url('logo-small.png');
  }

  @media (min-width: $screen-sm-min) {
    background-image: image-url('logo.png');
    width: 160px;
  }

  .home-index & {
    @media (max-width: $screen-xs-max) {
      background-image: image-url('logo-small-white.png');
      width: 10px;
      height: 55px;
    }

    @media (min-width: $screen-sm-min) {
      background-image: image-url('logo-white.png');
    }
  }
}

@media (max-width: $screen-xs-max) {
  .navbar-header {
    display: inline-block;
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-nav .open {
    .dropdown-menu {
      background-color: $navbar-collapse-bg;
      position: absolute;
      right: 0;
      top: 59px;
    }
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }

  .navbar-right {
    float: right;

    > li {
      display: inline-block;
      vertical-align: top;
    }
  }
}
