#main-nav {
  padding: 9px 0;
}

.navbar-nav > li > a {
  line-height: 32px;
}

.navbar-brand {
  height: auto;
  text-transform: uppercase;
}

.header-logo {
  @extend .bg-cover;
  display: block;
  height: 34px;
  min-width: 20px;

  @media (max-width: $screen-xs-max) {
    background-image: image-url('logo-small.png');
  }

  @media (min-width: $screen-sm-min) {
    background-image: image-url('logo.png');
    width: 160px;
  }

  .home-index & {
    @media (max-width: $screen-xs-max) {
      background-image: image-url('logo-small-white.png');
    }

    @media (min-width: $screen-sm-min) {
      background-image: image-url('logo-white.png');
    }
  }
}

.navbar-collapse {
  @media (max-width: $screen-xs-max) {
    background-color: $navbar-collapse-bg;
  }
}