.home-index {
  background-color: white;

  #main-nav {
    background-color: transparent;
    border-color: transparent;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;

    .navbar-nav > li > a {
      color: white;
    }
  }

  .jumbotron {
    color: white;

    .container {
      padding-top: 100px;
    }

    h1, .h1 {
      padding-bottom: 50px;
    }

    .btn-trans {
      display: block;
      font-family: $montserrat;
      font-size: 20px;
      padding: 5px 12px;
      text-transform: uppercase;

      &:hover {
        color: white;
      }
    }

    #categories li {
      margin-bottom: 5px;
    }

    @media (max-width: $screen-xs-max) {
      background-image: image-url('main-bg-small.jpg');
    }

    @media (min-width: $screen-sm-min) {
      background-image: image-url('main-bg.jpg');
      height: 0;
      padding-bottom: 56.25%;
      padding-top: 0;

      #categories {
        li {
          display: inline-block;
          margin-right: 30px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      h1, .h1 {
        padding-bottom: 150px;
      }

      p {
        font-size: 28px;
      }
    }
  }

  .flash-container {
    left: 0;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 10;
  }

  #top-services .panel {
    background-color: $body-bg;
  }

  .banner {
    .overlay {
      padding-top: 120px;
    }

    .title {
      color: white;
      font-family: $montserrat-ultra-light;
      font-size: 2.4em;
      text-transform: uppercase;

      @media (min-width: $screen-sm-min) {
        font-size: 4em;
      }
    }
  }
}

.services-search {
  @media (min-width: $screen-sm-min) {
    #filters {
      display: block;
    }
  }

  .sort-by {
    .col-xs-4 {
      padding-right: 0;
    }

    label {
      line-height: 33px;
    }
  }

  .filter-sort [data-toggle="dropdown"] {
    border: 1px solid $border-color;
    border-radius: $border-radius-base;
    color: $text-color;
    display: block;
    padding: 6px 12px;

    .caret {
      float: right;
      margin-top: 9px;
    }
  }

  .check-box {
    margin-bottom: 5px;

    label {
      font-weight: normal;
    }
  }

  .price-range-input {
    margin-bottom: 15px;
    span {
      display: inline-block;
    }

    input {
      height: 34px;
      display: inline-block;
      width: 70px;
    }
  }

  .ui-slider-horizontal {
    border: none;
    height: 5px;
  }

  .ui-widget-content {
    border-color: transparent;
    background: $border-color;
  }

  .ui-slider .ui-slider-handle {
    background: $brand-primary;
    border-color: white;
    border-radius: 50%;
    height: 15px;
    top: -5px;
    width: 15px;
  }

  .hide_symbol {
    display: inline-block;
    float: left;
    width: 23%;

    [type="radio"] {
      &:not(:checked),
      &:checked {
        & + label {
          padding-left: 0;

          &:before, &:after {
            border-radius: 1px;
          }

          &::before {
            border-color: transparent;
            height: 32px;
            width: 32px;
          }

          &:after {
            content: "" attr(data-value) "";
            color: $text-color;
            height: 30px;
            width: 30px;
            padding-top: 5px;
            padding-left: 0;
          }
        }
      }

      &:not(:checked) + label::after {
        visibility: visible;
      }
      &:checked + label::after {
        color: white;
      }
    }

    label {
      color: transparent;
    }
  }
}

.section-content {
  padding-top: 60px;
  padding-bottom: 60px;

  h2, h3, h4 {
    margin-bottom: 20px;
  }

  p {
    line-height: 1.6em;
  }
}

#how-it-works {
  .box {
    h3, h4 {
      margin: $grid-gutter-width 0;
    }
  }
}

#performers {
  .banner {
    background-image: image-url('safety&benefits.jpg');
    min-height: 400px;
  }
}

#customers {
  .banner {
    background-image: image-url('choice&transparency.jpg');
    min-height: 500px;
  }

  i.fa {
    font-size: 90px;
  }

  .fa-shield {
    color: $text-light-grey;
  }

  .fa-star {
    color: $yello-color;
  }
}

.home-work_with_us {
  background-color: transparent;

  #main-nav {
    margin-bottom: 0;
  }

  .jumbotron {
    background-image: image-url('girls.jpg');
    margin-bottom: 40px;
    
    .container {
      min-height: 1000px; 
    }
      
      h1 {
        color: #FFF;
      }
      
      p {
        color: #FFF;
      }

    .main-title {
      font-size: 40px;
      padding: 0.6em;
      margin-top: 9em;
      margin-bottom: -2.5em;
    }
  }
}

.alert-success {
  background-color: #87CEEB;
  border-color: #87CEEB;
  color: #fff;
}
