html, body {
  overflow-x: hidden;
  width: 100%;
}

#main-content {
  min-height: 500px;
}

.select2-selection__choice__remove {
    font-family: Helvetica Neue, sans serif !important;
}
#categories {
  margin-top: 100px;
}

.sessions-new {
  
  #main-content {
    min-height: 1000px;
    padding-top: 250px;
    background-image: image-url('girls.jpg');
  }
  
  @media (max-width: $screen-xs-max) {
    #main-content {
      padding-top: 0;
    }
  }
  
}