input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  border: 1px solid $brand-danger;
}

.parsley-errors-list {
  color: $brand-danger;
  margin: 0;
  padding: 0;
  list-style-type: none;
  @include opacity(0);
  @include transition(all .3s ease-in);
}

.parsley-errors-list.filled {
  @include opacity(1);
  margin: 2px 0 3px 0;
}
