.user_accept_terms, .user_consent_check {
  abbr {
    display: none;
  }
}

.user_remember_me .checkbox {
  padding-top: 0;
}

.user_slug {
  label:after {
    content: 'www.siloette.co/users/';
  }
  input {
    text-align: center;
  }
}

.horizontal-line {
  margin: $grid-gutter-width/2 0;
  text-align: center;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: solid 1px $border-color;
    z-index: -1;
  }

  .inner {
    padding-left: 1.4em;
    padding-right: 1.4em;
    display: inline;
    background-color: white;
  }
}

.avatar-field-container {
  position: relative;
  overflow: hidden;

  input[type="file"] {
    cursor: pointer;
    left: -60px;
    line-height: 80px;
    position: absolute;
    top: 0;
    @include opacity(0);
  }
}

.note {
  padding: 10px 15px;
}

.profile-image-status {
  position: absolute;
  right: 0;
  top: 0;
  display: none;

  &:hover {
    cursor: pointer;
  }
}

.profile-image-select {
  &:hover, &.active {
    .profile-image-status {
      display: block;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    top: 0;
    visibility: visible;
    width: 100%;

    &:checked + .profile-image-status {
      display: block;
    }
  }
}

.language-ids .parsley-errors-list.filled {
  margin-bottom: $grid-gutter-width / 2;
  margin-top: -13px;
}

.user_profile_experiences {
  span.checkbox {
    float: left;
    width: 50%;
  }

  .parsley-errors-list {
    left: 10px;
    top: -10px;
  }
}

.user_gender label {
  text-transform: capitalize;
}

.text-muted {
  font-size: 18px;
}

.users-edit .panel-heading {
  font-size: 18px;
}

.select2-selection__choice__remove {
    font-family: Helvetica Neue, sans serif !important;
}

.users-edit .panel-heading .heading {
  margin-left: -15px;
}

.avatar-img-overlay {
  width:118px;
  height:118px;
  padding-top: 100px;
  margin-left:12px;
  background: image-url('photo-camera.png');
  background-color: #959aa7;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 11px;
  font-weight: bold;
  color: #333 !important;
  color:#FFF;
  opacity:0.5;
  position:absolute;
  display: none;
}

.avatar-field-container:hover .avatar-img-overlay {
  display: block;
}