$brand-primary: #6deef6;
$body-bg: #f1f1f1;
$text-color: #444;
$font-size-base: 15px;
$link-hover-decoration: none;
$navbar-default-bg: #fff;
$navbar-default-link-color: #999999;
$navbar-default-link-hover-color: #888888;
