$brand-primary: #6deef6;
$body-bg: #f1f1f1;
$border-color: #e6e6e6;
$text-color: #444;
$text-light-grey: #999999;
$montserrat: 'Montserrat', Helvetica Neue, sans serif;
$montserrat-light: 'MontserratLight', Helvetica Neue, sans serif;
$montserrat-ultra-light: 'MontserratUltraLight', Helvetica Neue, sans serif;
$font-family-base: $montserrat-light;
$font-size-base: 15px;
$input-border: $border-color;
$padding-base-vertical: 8px;
$panel-default-border: $border-color;
$link-hover-decoration: none;
$navbar-default-bg: #fff;
$navbar-default-link-color: #999999;
$navbar-default-link-hover-color: #888888;
$navbar-default-link-active-bg: tranparent;
$navbar-padding-vertical: 10px;
$navbar-collapse-bg: #474747;
$btn-facebook-bg: #5a6bd4;
$btn-instagram-bg: #48739a;
$btn-google-bg: #c43221;
$btn-twitter-bg: #1da1f2;
$pink-color: #d330e8;
